
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

button {
	position: initial;
}
.info-login {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	text-align: left;
	padding: 10px 10px;
}

.info-login h5 {
	font-size: 18px;
}

.join-page {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.join-page h1 {
	font-weight: bold;
	margin: 0;
}

.join-page h2 {
	text-align: center;
}

.join-page p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 10px 0;
}

.join-page span {
	font-size: 12px;
  margin-top: 30px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.join-page a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.join-page button {
  position: relative;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all .3s ease-in;
	right: 0;
}

.join-page .overlay a {
	display: inline-block;
	width: 60%;
	padding: 10px;
}

.join-page button:focus {
	outline: none;
}

.join-page button:hover {
	color: #fff;
	transform: rotate(20deg);
}

.join-page button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	width: 60%;
}

button.ghost:hover {
	transform: scale(1.1);
}

button.ghost + button {
	margin-top: 20px;
}

.ghost > i {
	font-size: 12px;
	position: relative;
	margin-left: 5px;
	margin-top: 2px;
}

.join-page form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.join-page .container {
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
} 

.join-page .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.join-page .sign-in-container {
	left: 0;
	width: 52%;
	z-index: 2;
}

.join-page .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.join-page .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.join-page .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container .btn-sign {
	border: 1px solid #DDDDDD;
	border-radius: 50%; 
	margin: 0 0 0 10px;
	height: 50px;
	width: 50px;
  padding: 0;
  font-size: 16px;
  display: inline-block;
  right: 0px;
}

.btn-g {
  background: #FF4B2B;
}

.btn-f {
  background: #0767e6;
}

.btn-git {
  background: #212529;
}

.btn-out {
	color: black !important;
	padding: 5px;
	height: 50px;
	width: 100%;
	border: none !important;
	line-height: 50px;
	padding-left: 20px !important;
}

.btn-out:hover {
	transform: translateY(-10px) !important;
}

.btn-out:hover i {
	animation-name: bye;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

@keyframes bye {
	from {transform: rotate(-50deg);}
  to {transform: rotate(50deg);}
}

.btn-out i {
	font-size: 20px;
	margin-left: 10px;
}

/* Modal */
.modal-title {
	text-align: center;
	width: 100%;
	padding-left: 9%;
	color: rgba(202, 116, 116, 0.884);
}
.modal-content {
	background: #f6f6f6;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	
}

.modal-header {
	border-bottom: none;
	
}

.modal-body {
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}

.modal-footer {
	border-top: none;
}

.input-modal {
	background: none;
	border: 1px solid rgba(202, 116, 116, 0.884);
	width: 50%;
	padding: 6px 50px;
	border-radius: 50px;
}
button.close,
button.join-modal,
button.close-modal {
	color:rgba(202, 116, 116, 1) !important;
}
