body {
  background: #f6f6f6;
}

.fix {
  max-width: 100vw;
  height: 70vh;
  padding: 0 5vw;
} 

.setup {
  padding: 2vh 0 4vh 0;
  height: 75vh;
}

.video {
  box-shadow: 5px 5px 50px rgba(119, 119, 119, 0.5);
  border-radius: 10px;
}

/* Chat */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom left, #79c7c5 40%, #f9fbff 100%);
  font-family: "Lato", sans-serif;
} */
/* 
.container-chat {
  position: relative;
  height: 100%;
  width: 100%;
} */

/* .messages {
  position: absolute;
  background: #f9fbff;
  opacity: 0.5;
  width: 30%;
  height: 70%;
  top: 2.5%;
  left: 5%;
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
} */

/* .name2 {
  position: absolute;
  top: 50px;
  left: 2px;
  text-transform: uppercase;
  color: #79c7c5;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 500;
} */

/* .email {
  color: #f9fbff;
  font-size: 0.5em;
  margin-left: -30px;
  margin-top: 2px;
} */

.chatbox {
  position: absolute; 
  left: 7%;
  right: 2%;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
  overflow: hidden;
  background: #f9fbff;
}

.top-bar {
  width: 100%;
  height: 60px;
  background: #f9fbff;
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom left, #79c7c5 20%, #a1e2d9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}
.avatar p {
  color: #f9fbff;
  margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

/* .icons {
  position: absolute;
  color: #a1e2d9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}
.icons .fas {
  padding: 5px;
  opacity: 0.8;
}
.icons .fas:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
} */

.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79c7c5;
  box-shadow: 0px 7px 0px #79c7c5, 0px 14px 0px #79c7c5;
}

.middle {
  position: relative;
  background: #f9fbff;
  width: 100%;
  opacity: 0.85;
  height: 78%;
  overflow: auto;
}

/* .incoming {
  display: block !important;
  width: 100%;
  height: 100%;
  padding: 20px;
} */

/* .incoming .bubble {
  background: #b2b2b2;
} */

.typing {
  position: relative;
  bottom: 1%;
  left: 5px;
}
.typing .bubble {
  background: #eaeaea;
  padding: 8px 13px 9px 13px;
}

.ellipsis {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #b7b7b7;
  border-radius: 50%;
  animation: bounce 1.3s linear infinite;
}

.one {
  animation-delay: 0.6s;
}

.two {
  animation-delay: 0.5s;
}

.three {
  animation-delay: 0.8s;
}

.voldemort {
  padding: 20px;
}

.bubble {
  /* position: relative; */
  display: inline-block;
  margin-bottom: 10px;
  color: #f9fbff;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.incoming {
  text-align: left;
}

.incoming .bubble{
  background: #b2b2b2;
}

.outcoming .bubble{
  background: #79c7c5;
  text-align: left;
}

.outcoming {
  text-align: right;
}

/* .outgoing {

  position: absolute;
  padding: 20px;
  right: 0;
  top: 20%;
  width: 100%;
}
.outgoing .bubble {
  background: #79c7c5;
  float: right;
} */

.bottom-bar {
  border-top: 1px solid rgb(204, 202, 202);
  position: absolute;
  width: 100%;
  height: 70px;
  background: #f9fbff;
  /* border-radius: 0 0 10px 10px; */
  padding: 10px;
  bottom: 0;
  z-index: 10;
}

.left {
  left: 0px;
}

input {
  padding: 10px 20px;
  width: 75%;
  left: 5%;
  border: 0;
  background: #f9fbff;
  color: #79c7c5;
}

input::placeholder {
  color: #a1e2d9;
}

input:focus {
  color: #777777;
  outline: 0;
}

button {
  position: absolute;
  border: 0;
  font-size: 1.3em;
  color: #a1e2d9;
  background: none;
  top: 17px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
}

.fly {
  position: absolute;
}

button.fly:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #79c7c5;
}


@keyframes bounce {
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

/* Style scroll */
.style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(189, 177, 177, 0.3);
  background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
  background-color: #cec6c6;
}

/* Search */
/* .search {
  height: 25vh;
} */

.search__container {
  position: relative;
  margin-top: 3vh;
  margin-bottom: 1vh;
  width: 100%;
  text-align: center;
}

.search__input {
  height: 50px;
  width: 100%;
  padding: 0px 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 250ms ease-in-out;
  font-size: 17px;
  line-height: 15px;
  color: #575756;
  background-color: #f9fbff;
  border: 1px solid #d4d4d2;
  transition: all .5s ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 3px 3px 5px rgba(119, 119, 119, 0.5);
}

.fix-search {
  position: absolute;
  right: 5%;
  top: 25%;
  cursor: pointer !important;
  transition: color .2s linear;
  padding: 5px;
  
}

.fix-search:hover {
  color: #777777;
  
}

.search__input::placeholder {
      color: rgba(87, 87, 86, 0.8);
      /* text-transform: uppercase; */
      letter-spacing: 1.5px;
  }

.search__input:hover,
.search__input:focus {
      padding: 0px 40px;
      outline: 0;
}

/* .search__input:hover .fix-search {
      position: relative;
      right: 5%;
      top: 45%;
} */

/* .list-video {
  height: 15vh;
} */

/* .search-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .search-list h1 {
  flex-grow: .5;
} */
